.redesign-house {
    width: 1061px;
    height: 424px;
    background-color: transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.redesign-house-heading {
    position: absolute;
    font-size: 43px;
    height: 200px;
    flex-direction: column;
    display: flex;
    margin-right: 38rem;
}
.redesign-house-description {
    font-size: 1rem;
    font-family:inherit;
    margin-top: 9rem;
    margin-right: 38rem;
    margin-top: 9rem;
    width: 23rem;
}
.redesign-house-images {
    position: absolute;
    display: flex;
    justify-content: space-between;
    margin-left: 27rem;
}
.overlay-image {
    position: absolute;
    top: 227px;
    left: 249px;
}
