/* Default styles for larger screens */
.redesign-house {
    width: 1061px;
    height: 424px;
    background-color: transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.img123{
    width:558px;
     height:558px 
}
.redesign-house-heading {
    position: absolute;
    font-size: 43px;
    height: 200px;
    flex-direction: column;
    display: flex;
    margin-right: 38rem;
}
.redesign-house-description {
    font-size: 1rem;
    font-family: inherit;
    margin-top: 9rem;
    margin-right: 38rem;
    margin-top: 9rem;
    width: 23rem;
}
.redesign {
    align-items:center;
    justify-content:center;
    margin-top: 4rem
}
.redesign-house-images {
    position: absolute;
    display: flex;
    justify-content: space-between;
    margin-left: 27rem;
}
.overlay-image {
    position: absolute;
    top: 227px;
    left: 249px;
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
    .redesign-house {
        width: 90%;
        justify-content: center;
        align-items: center;
        margin-right: 1.5rem;
        height: auto;

        border-radius: 12;
        flex-direction: column;
    }

    .redesign-house-heading {
        position: static;
        font-size: 36px;
        height: auto;
        margin-right: 0;
        text-align: center;
    }

    .redesign-house-description {
        width: 90%;
        margin-top: 20px;
        text-align: center;
        margin-left: 37rem;
    }

    .redesign-house-images {
        position: static;
        margin-left: 0;
        flex-direction: column;
        align-items: center;
    }
    .img123{
        width:258px;
         height:258px 
    }
    .overlay-image {
        display: none;
    }
}
