.container1 {
  background-color: white;
  border-radius: 6rem;
  margin-top: 40px;
  display: flex;
  width: 1540px;
  height: 1000px;
}

.upload-button {
  background: linear-gradient(to right, #bd0c80, #861b82);
  border: none;
  border-radius: 25px;
  padding: 10px 30px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  margin-right: rem;
  margin-top: 20px;
}
.bo{
  background: linear-gradient(to right, #bd0c80, #861b82);
  border: none;
  position: sticky;
  border-radius: 25px;
  padding: 10px 30px;
  margin-top: 5px;
  color: white;
  cursor: pointer;
  font-weight: bold;

}



.dropdown {
  padding: 12px 112px;
  border: 1px solid #ccc;
  margin-left: -1rem;
}

.image-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 35px;
    margin-right: 134px;
    padding: 1rem;
    text-align: center;
}
.image-grid img {
    width: calc(33.33% - 10px); 
    height: auto;
    margin-bottom:30px;
}
.left-box {
  width: 36%;
  /* padding: 1rem; */
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 17.5rem;
  align-items: baseline;
  font-family: 'Popins-Regular  ';

  }
  
  .left-box > div {
    margin-left: 35px;
    margin-right: 134px;
    padding: 1rem;
    text-align: center;
  }
  
  .right-box {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    margin-left: 36rem;
  }
  
  .image-row {
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 10px; */
  }
  
  .image-row img {
    width: 290px;
    height: 260px;
    margin-left: 10px;
  }
  
  .image-row img::after {
    content: attr(alt);
    display: block;
    font-size: 1.1rem;
    margin-top: 5px;
  }
  
