
/* Navbar.css */
.custom-toggler {
  background-color: black; /* Background color for the button */
  border: none; /* Remove border if needed */
  color: white; /* Text color */
}

.custom-toggler:hover {
  background-color: black; /* Change color on hover if needed */
  color: white; /* Text color on hover */
}

.el {
  color: #bd0c80;
  text-decoration: none;
  font-size: 17px;
  position: relative;
  margin-right: 29rem;
}
.nav-item {
  color: black;
}
.btn-login {
  background: linear-gradient(to right, #bd0c80, #861b82);
  border: none;
  border-radius: 25px;
  padding: 10px 30px;
  color: white;
  cursor: pinter;
  font-weight: bold;
  
  margin-right: 1rem;

}
