/* Common styles for all screen sizes */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.navbar-logo img {
  max-height: 40px;
  margin-left: 3rem;
}

.el {
  color: #bd0c80;
  text-decoration: none;
  font-size: 17px;
  position: relative;
  margin-right: 29rem;
}

.el1 {
  color: black;
  text-decoration: none;
  font-size: 17px;
  position: absolute;
  margin-left: 18rem;
}

.navbar-login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lloggedInText {
  padding: 5px 19px;
  color: white;
  background-color: black;
}
.navbar-dark .navbar-nav .nav-link {
  color: white !important;
}
.logedtext {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin-right: 1rem;
  background-color: black;
}
.navbar-dark .navbar-nav .nav-link1{
  color: #CB0D7F !important;
  margin-left: 1rem;
}

.margin-left{
margin-left: 1rem;
}
.navbar-dark .navbar-toggler{
  color: black !important;
  border-color: black !important;
}
.btn-login {
  background: linear-gradient(90deg, rgba(230,0,126,1) 0%, rgba(102,36,131,1) 73%);
  border: none;
  border-radius: 25px;
  padding: 10px 30px !important;
  color: white;
  cursor: pinter;
  /* font-weight: bold; */
  font-family: 'Poppins', sans-serif !important;
  margin-right: 3rem;
/* width: 40%; */
font: 100;
}

.btn-login:hover {
  background-color: #ff8e61;
  color: #ffffff;
}

.el:hover {
  text-decoration: none;
  color: #861b82;
}

.el1:hover {
  text-decoration: none;
  color: black;
}

/* Responsive styles for screens <= 768px */
@media (max-width: 770px) {
  .navbar-logo img {
    max-height: 30px;
    margin-left: 0.5rem;
  }
  .logedtext {
    display: flex;
    justify-content: center;
    border-radius: 20px;
    /* margin-right: 1rem; */
    width: 120px;
    background-color: black;
  }
  .loggedInText{
    font-size: 10px;

  }
  .menu-icon {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .lloggedInText {
    padding: 2px 2px;
    /* color: white; */
    /* background-color: black; */
  }
  .btn-login {
    padding: 8px 16px;
    margin-right: 0.5rem;
  }
  .navbar-logo{
    /* width: 25px; */
  }
  .ml-bvv{
    margin-top: 3rem;
  }
  .navbar-logo img {
    max-height: 30px;
    width: 75px;
    margin-left: 10px;
  }
  /* Adjusting margins for smaller screens */
  .el {
    font-size: 12px;
    width: 12px;
    margin-right: 2rem;
    /* position: relative; */
    display: flexbox;
  }

  .el1 {
    margin-left: 0.5rem;
    display: none;
  }
}
/* Add this CSS to your Navbar.css or your preferred stylesheet */


/* Hide the drawer on larger screens */
@media (min-width: 992px) {
  .drawer {
    display: none;
    position: fixed;
    top: 0;
    right: -70px; /* Initially hidden to the right */
    height: 100%;
    width: 70px;
    background-color: #333; /* Background color for the drawer */
    overflow-x: hidden;
    transition: right 0.3s; /* Transition effect to slide in/out */
    z-index: 1; 
  }
  .drawer.open {
    right: 0; /* Slide in when the "open" class is added */
  }
  
}
