.container1 {
  background-color: white;
  border-radius: 6rem;
  margin-top: 40px;
  display: flex;
  width: 1518px;
  height: 1000px;
 
}

.upload-button {
  background: linear-gradient(to right, #bd0c80, #861b82);
  border: none;
  border-radius: 25px;
  padding: 10px 30px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  margin-right: rem;
  margin-top: 20px;
  
}
.bo {
  background: linear-gradient(to right, #bd0c80, #861b82);
  border: none;
  position: sticky;
  border-radius: 25px;
  padding: 10px 6px;
  margin-top: 5px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  margin-left: 2rem
}

.dropdown {
  padding: 12px 77px;
  /* width: 99px; */
  border: 1px solid #ccc;
  /* margin-right: 1rem; */
}

.image-grid {
  display: flex;
  flex-wrap: wrap;
  padding: 2px 2px;
}
.image-grid img {
  height: auto;
  margin-bottom: 30px;
}
.left-box {
  width: 36%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 15rem;
}
.order123{

    height:12rem;
    align-items: center;
    border: 8px solid black;
    margin-right: 11.4rem;
    padding-top: 31px;
    border-radius:10px;
    border-style: dashed;
    width: 19rem;
  }
.left-box > div {
  margin-left: 35px;
  margin-right: 134px;
  /* padding: 1rem; */
  text-align: center;
}
.left-box >p{
  margin-right:6rem;
  font-size: 14px;
}
.right-box {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  margin-left: 32rem;
}

.image-row {
  display: flex;
  justify-content: space-between;
  margin-left: 3.8rem;
  /* margin-bottom: 10px; */
}

.image-row img {
  width: 290px;
  height: 260px;
  margin-left: 10px;
}

.image-row img::after {
  content: attr(alt);
  display: block;
  font-size: 1.1rem;
}
.image-wrapper {
  position: relative;
  margin-bottom: -25px;
}

.image-wrapper img {
  max-width: 94px;
  height: auto;
  display: block;
}

.image-text {
  position: relative;
  bottom: 11px;
  left: 0;
  bottom: 28px;
  right: 0;

  padding: 5px;
  text-align: center;
}
.svg-icon {
  position: absolute;
  top: 14px;
  left: 87px;
  transform: translate(-50%, -50%);
  z-index: 1; /* Ensure the SVG is on top */
}
.roomtype{

  margin-right:19rem;
  margin-bottom:7px;
  margin-top:7px;
}
.bordered-image{
 width: 18rem;
  height:12rem;
  width:19rem;
  height:12rem;
  /* margin-right:3rem; */
  margin-bottom: 2rem;
}
.fourselected{
  margin-right:17rem ;
  margin-bottom:7px;
  margin-top:7px;
}
.render{
  
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 3rem;

}
.fourselected {
  margin-right: 14rem;
  margin-bottom: 7px;
  margin-top: 6px;
}
.credits{
    align-items:center;
    display: flex;
    margin-left: 8px;
  
}
.select123{
  
    display: flex;
    flex-wrap: wrap;
    margin-left: 5rem;
    padding-bottom:2rem;
  
}
.imgseelected-image{
    width: 18rem;
    height: 12rem;
    margin-top: 0.5rem
  
}


.roomtype {
  margin-right: 16rem;
  margin-bottom: 7px;
  margin-top: 7px;
}


/* Media query for smaller screens */
@media (max-width: 768px) {
  .container1 {
    flex-direction: column; /* Stack left and right boxes */
    align-items: center; /* Center both boxes */
    width: auto;
    margin-bottom: 62rem;
  }
  .select123 {
    display: flex;
    flex-wrap: wrap;
    margin-left: 2rem;
    padding-bottom: 2rem;
    margin-top: 62rem;

  }
  .left-box {
    padding-left: 3rem;
    width: 100%;
    margin-left: 0rem;
    align-items: center;
}
  .fourselected {
    margin-right: 6rem;
    margin-bottom: 7px;
    margin-top: 6px;
}
.dropdown {
  margin-right: -3rem;

}
.roomtype {
  margin-right: 9rem;
  margin-bottom: 7px;
  margin-top: 7px;
}
.imgseelected-image{
  width: 10rem;
  height: 10rem;
  margin-top: 0.5rem

}
.ee123{
  margin-right: 9.4rem;
}

 .left-box >p {
  margin-right: -3rem;
  margin-left: -10rem;}
  .image-row {
      display: flex;
      justify-content: space-between;
      /* margin-bottom: 10px; */
      }
      
  
  .right-box {
    width: 100%; /* Make right box take full width */
    margin: 20px 0; /* Add margin to separate the boxes */
  }
}
