.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F5F5F5;
  padding: 10px 20px;
  position: relative;
}
.round-box {
  position: absolute;
  left: 0;
  bottom: 4rem;
  background: #f3d9eb;
  border-radius: 100px;
  filter: blur(100px);
  height: 20rem;
  position: absolute;
  width: 20rem;
}

  
  .copyright {
    /* font-weight: bold; */
    color: gray;
    margin-left: 7rem;
  }
  
  .login-link a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-right: 3rem;
  }
  
 
  